<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="DBConnection" value="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\Uni Year 2\COMP1632 System Development Project\Term 2\StudentAttendanceRegister\SARDatabase.mdf;Integrated Security=True;Connect Timeout=30" />
    </appSettings>
</configuration>